* {
    background-image: url("neonBub2.jpg");
}


input{
    width: 220px;
    height: 130px;
    font-size: 90px;
    color: white;
    border-radius: 22px;
    border-width: 10px;
    border-color: greenyellow;
    background: greenyellow;
    padding: 2px;
    font-weight: 800;
    margin-bottom: 70px;
    margin-right: 30px;
    /* margin-top: 50px; */
    margin-left: 30px;
    outline: none;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 150px;
    background: aliceblue;
    padding-top: 70px;
}



