* {
    background: black;
}

.container {
    
    width: 100%;
}

input{
    width: 220px;
    height: 130px;
    font-size: 90px;
    color: white;
    border-radius: 22px;
    border-width: 10px;
    border-color: greenyellow;
    background: greenyellow;
    padding: 2px;
    font-weight: 800;
    margin-bottom: 70px;
    margin-right: 30px;
    /* margin-top: 50px; */
    margin-left: 30px;
    outline: none;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 150px;
    background-image: url("neonBub2.jpg");
    padding-top: 70px;
    border-radius: 13px;
}

input.score {
    width: 240px;
    height: 80px;
    font-size: 30px;
    color: white;
    border-radius: 12px;
    border-width: 10px;
    border-color: plum;
    background: palevioletred;
    padding: 2px;
    font-weight: 300;
    margin-bottom: 70px;
    margin-right: 30px;
    /* margin-top: 50px; */
    margin-left: 30px;
    outline: none;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 250px;
    color: white;
    font-weight: 900;
    outline-color: chocolate;
    outline-width: 220px;
   
}

.outline {
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: cyan;
    font-size: 150px;
    text-align: center;
    color: orange;
    font-weight: 900;
    background-image: url("neonBub2.jpg");
    padding: 20px;

}


div.nav-wrapper {
    background: yellow;
    margin-bottom: 70px;

}


